{% extends "localtv/admin/base.html" %}
{% comment %}
Copyright 2009 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}localtv/css/admin/upgrade.css" />
{% endblock extrahead %}

{% block body_class %}downgrade_confirm{% endblock body_class %}

{% load pagetabs i18n %}

{% block title %}{{ block.super }} - {% block name %}{% trans "Admin - Confirm downgrade" %}{% endblock %}{% endblock %}

{% block content %}
  <h1>Warning!</h1>
  <h2>You are about to downgrade from {{ tier_info.tier.name }} to {{ tier.name }}.</h2>

  {% if tier_info.enforce_payments %}
  <p>You will need to go through PayPal by clicking the &ldquo;Do it&rdquo; button at the end of this page in order to complete your downgrade. Your current level of service will continue through the end of your current payment period, at which point you will see the following changes:</p>
  {% else %}
  <p>You will see the following changes:</p>
  {% endif %}

  <dl>
    {% if tier.admin_limit or tier.admin_limit == 0 %}
      {% if tier.admin_limit < tier_info.tier.admin_limit %}
        {% with admin_limit=tier.admin_limit|add:1 %}
          <dt>Limit of {{ admin_limit }} admin{{ admin_limit|pluralize }}</dt>
          {% if admins_to_demote %}
            <dd>You currently have {{ admins_to_demote|length }} admin{{ admins_to_demote|pluralize }} above that limit. Extra admins will be automatically demoted to ordinary users.</dd>
          {% endif %}
        {% endwith %}
      {% endif %}
    {% endif %}

    {% if tier.video_limit or tier.video_limit == 0 %}
      {% if tier.video_limit < tier_info.tier.video_limit %}
        <dt>Limit of {{ tier.video_limit }} video{{ tier.video_limit|pluralize }}</dt>
        <dd>
          {% if videos_to_deactivate %}
            You currently have {{ videos_to_deactivate|length }}
            video{{ videos_to_deactivate|pluralize }} above that limit.
            As many of the oldest video(s) on your site as necessary
            will automatically be returned to the review queue in order
            to bring you below the limit.
          {% else %}
            {% if tier_info.enforce_payments %}
              You're currently within that limit. If you go above it
              before the end of the payment period, old videos from
              your site will be automatically returned to the review
              queue to bring you below it again.
            {% endif %}
          {% endif %}
        </dd>
      {% endif %}
    {% endif %}

    {% if tier_info.tier.custom_css and not tier.custom_css %}
      <dt>No custom CSS</dt>
      <dd>Any custom CSS you have entered will no longer be applied to
          your site, and you will not be able to edit it. However, it
          will not be deleted, so you won't have to re-enter it if you
          later upgrade to a tier that allows custom css.</dd>
    {% endif %}

    {% if tier_info.tier.ads_allowed and not tier.ads_allowed %}
      <dt>No advertising</dt>
      <dd>Advertising is no longer permitted with {{ tier.name }}. If
          you continue to run advertising after your downgrade
          {% if tier_info.enforce_payments %} takes effect{% endif %},
          we reserve the right to shut down your site.</dd>
    {% endif %}

    {% if tier_info.tier.custom_domain and not tier.custom_domain %}
      <dt>No custom domain</dt>
      {% if tier_info.site.domain|slice:"-18" != ".mirocommunity.org" %}
        <dd>Custom domains are not offered with the {{ tier.name }}
            account level. If you downgrade, we will revert your site to
            {% if tier_info.site_name %}
              {{ tier_info.site_name }}.{% else %}
              a domain within
            {% endif %}mirocommunity.org.</dd>
      {% endif %}
    {% endif %}

    {% if tier_info.tier.custom_themes and not tier.custom_themes %}
      <dt>No custom themes</dt>
      <dd>You will no longer be able to add custom themes. Custom themes
          that have previously been uploaded will be saved, but cannot
          be activated.{% if theme %} Your current theme will
          automatically be deactivated.{% endif %}</dd>
    {% endif %}
  </dl>

  <form action="{{ form.get_action }}" method="{{ form.get_method }}">
    {% for field in form.hidden_fields %}{{ field }}{% endfor %}
    <button class="approve_button" type="submit">
      <span>Do it</span>
    </button>
  </form>
  <a class="reject_button" href="{% url localtv_admin_tier %}"><span>Cancel</span></a>
{% endblock content %}
