{% extends "localtv/admin/base.html" %}
{% comment %}
Copyright 2010-2011 - Participatory Culture Foundation

This file is part of Miro Community.

Miro Community is free software: you can redistribute it and/or modify it
under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or (at your
option) any later version.

Miro Community is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with Miro Community.  If not, see <http://www.gnu.org/licenses/>.
{% endcomment %}

{% block body_class %}account{% endblock body_class %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Admin - Change site tier" %}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}localtv/css/admin/upgrade.css" />
{% endblock extrahead %}

{% block body_id %}tier{% endblock %}

{% block content %}
{% include "localtv/admin/account_header.html" %}
  <div id="upgrade_title">
    <h1>Upgrade Your Site</h1>
    {% if not tier_info.had_subscription %}
    <p>All <strong>new</strong> monthly subscribers get a <strong>free 30 day</strong> trial.</p> 
    {% endif %}
  </div><!-- // upgrade_title -->

  {% for tier,form in forms.iteritems %}
    <div id="{{ tier.slug }}_plan" class="{% if tier.price %}plan{% endif %}{% if forloop.counter == 2 %} clear{% endif %}{% if tier == tier_info.tier %} selected{% endif %}">
      <div class="hdr">
        <h1>{{ tier.name }}</h1>
        <h2>{% if tier.price %}${{ tier.price }}/month{% else %}Free{% endif %}</h2>
      </div>
      <div class="body">
        <ul>

          <li>Your site, logo &amp; background</li>
          {% if tier.custom_domain %}
            <li>Custom domain</li>
          {% endif %}
          {% if tier.custom_css %}
            <li>Custom css</li>
          {% endif %}
          <li><strong>{% if tier.video_limit %}{{ tier.video_limit }}{% else %}Unlimited{% endif %}</strong> videos</li>
          <li><strong>{% if tier.admin_limit == 0 or tier.admin_limit %}{{ tier.admin_limit|add:1 }}{% else %}Unlimited{% endif %}</strong> administrator account{% if tier.admin_limit != 0 %}s{% endif %}</li>
          {% if tier.ads_allowed %}
            <li>You can run advertising</li>
          {% endif %}
          {% if tier.custom_themes %}
            <li>Fully custom templating</li>
          {% endif %}
        </ul>
      </div>
      <div class="ft">
        {% if tier == tier_info.tier %}
          <p>Your current plan</p>
        {% else %}
          <form action="{{ form.action }}" method="{{ form.method }}">
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            <button type="submit">
              <em>{% if tier.price <= tier_info.tier.price %}
                Switch to {{ tier.name }}{% else %}
                Upgrade your account{% endif %}
              </em>
            </button>
          </form>
        {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
