{% extends "localtv/admin/base.html" %}

{% block body_class %}account{% endblock body_class %}

{% load i18n %}

{% block title %}{{ block.super }} - {% trans "Admin - Change site tier" %}{% endblock %}
{% block extrahead %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}localtv/css/admin/upgrade.css" />
{% endblock extrahead %}

{% block body_id %}tier{% endblock %}

{% block content %}
  <div id="upgrade_title">
    <h1>Upgrade Your Site</h1>
    {% if not tier_info.had_subscription %}
    <p>All <strong>new</strong> monthly subscribers get a <strong>free 30 day</strong> trial.</p> 
    {% endif %}
  </div><!-- // upgrade_title -->

  {% for tier,form in forms.iteritems %}
    <div id="{{ tier.slug }}_plan" class="{% if tier.price %}plan{% endif %}{% if forloop.counter == 2 %} clear{% endif %}{% if tier == tier_info.tier %} selected{% endif %}">
      <div class="hdr">
        <h1>{{ tier.name }}</h1>
        <h2>{% if tier.price %}${{ tier.price }}/month{% else %}Free{% endif %}</h2>
      </div>
      <div class="body">
        <ul>
          <li>Your site, logo &amp; background</li>
          {% if tier.custom_domain %}
            <li>Custom domain</li>
          {% endif %}
          {% if tier.custom_css %}
            <li>Custom CSS</li>
          {% endif %}
          <li><strong>{% if tier.video_limit %}{{ tier.video_limit }}{% else %}Unlimited{% endif %}</strong> videos</li>
          <li><strong>{% if tier.admin_limit == 0 or tier.admin_limit %}{{ tier.admin_limit|add:1 }}{% else %}Unlimited{% endif %}</strong> administrator account{% if tier.admin_limit != 0 %}s{% endif %}</li>
          {% if tier.ads_allowed %}
            <li>You can run advertising</li>
          {% endif %}
          {% if tier.custom_themes %}
            <li>Fully custom templating</li>
          {% endif %}
        </ul>
      </div>
      <div class="ft">
        {% if tier_info.enforce_payments %}
          {% if tier.price == subscription_prices.0 or tier.price == 0 and not subscription_prices %}
            {% if tier == tier_info.tier %}
              <p>Your current plan</p>
            {% else %}
              <p>Your next plan</p>
            {% endif %}
          {% elif tier.price in subscription_prices %}
            <form action="{{ cancellation_form.action }}" method="{{ cancellation_form.method }}">
              {% for field in cancellation_form.hidden_fields %}{{ field }}{% endfor %}
              <button type="submit">
                <em>Cancel old subscription</em>
              </button>
            </form>
          {% else %}
            <form action="{{ form.action }}" method="{{ form.method }}">
              {% if form.method == "post" and form.action.0 == "/" %}{% csrf_token %}{% endif %}
              {% for field in form.hidden_fields %}{{ field }}{% endfor %}
              <button type="submit">
                {% if tier == tier_info.tier %}
                  <em>Renew {{ tier.name }} subscription</em>
                {% elif tier.price <= tier_info.tier.price %}
                  <em>Switch to {{ tier.name }}</em>
                {% else %}
                  <em>Upgrade your account</em>
                {% endif %}
              </button>
            </form>
          {% endif %}
      {% else %}
        {% if tier == tier_info.tier %}
          <p>Your current plan</p>
        {% else %}
          <form action="{{ form.action }}" method="{{ form.method }}">
            {% if form.method == "post" and form.action.0 == "/" %}{% csrf_token %}{% endif %}
            {% for field in form.hidden_fields %}{{ field }}{% endfor %}
            <button type="submit">
              {% if tier.price <= tier_info.tier.price %}
                <em>Switch to {{ tier.name }}</em>
              {% else %}
                <em>Upgrade your account</em>
              {% endif %}
            </button>
          </form>
        {% endif %}
      {% endif %}
      </div>
    </div>
  {% endfor %}
{% endblock %}
